.headerPrincipal{
    background-color: #CAC4F7;
    padding: 20px 70px;
    
}

.containerPrincipal{    
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;  
}

.logo-header{
    width: 100px;
    height: 100px;
    padding:   0px 20px 0px 0px;
}

.headerPrincipal-titulo{
    margin-left: 7px;
    font-weight: bolder;
    font-size: 24px;
    
}

.headerPrincipal-link{
    text-decoration: none;
    color:#320557;
    font-weight: 700px;
    font-size: 30px;
}

.headerPrincipal-nav{
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.headerPrincipal-nav-link{
    text-decoration: none;
    color: #320557;
    width: auto;
    margin: 0 0 0 50px;
    font-size: 20px;
}

.imgCentral{
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.botonCentral {
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.Maincont{
	display:flex;
	justify-items: center;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
}

.imgnos{
	display: flex;
	width: inherit;
	height: 100px;	
	vertical-align: middle;
}

h1{
	font-family: sans-serif;
	font-size: 60px;
	/*text-shadow: 0 0 5px rgba(107, 37, 37, 0.7);*/
}

h2{
	font-family:sans-serif;
	font-size: 40px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.parrafo2{
	padding: 2%;
	font-family: 'Raleway';
	font-size: 20px;
}
.imgnos2{
	vertical-align: middle;
	width: 30%;
	height:200px;
	box-shadow: 10px 5px 20px rgba(3, 3, 3, 0.7);
	border-radius: 10px;
	margin-right: 20px;
}

.imgnos22{

	width:40%;
	height: 200px;
	box-shadow: 10px 5px 20px rgba(3, 3, 3, 0.7);
	border-radius: 10px;
	float:left;
	margin-left:20px;
	margin-right: 25px;
}
.subcont2{
	display:flex;
	justify-content: center;
	align-items:center;
	margin: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.parrcont2{
	width: 50%;
}
.parrafo3{
	font-family:sans-serif;
	font-size: 20px;
	margin: 10px;
}
li{	
	font-family:sans-serif;
	font-size: 20px;
	margin-left: 40px;
	list-style-image:url(/ArProgramaFinal-main/img/pngeggpati.png);
	
}
.slide{
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(3, 3, 3, 0.7);
}
