body{
    font-family: sans-serif;
    color: #320557;
	box-sizing: border-box;
	line-height: 25px;
}

.imgnos{
	display: flex;
	width: inherit;
	height: 100px;	
	vertical-align: middle;
}

.titulo{
	font-family: sans-serif;
	font-size: 60px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	/*text-shadow: 0 0 5px rgba(107, 37, 37, 0.7);*/
}

h2{
	font-family:sans-serif;
	font-size: 40px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.parrafo2{
	padding: 2%;
	font-size: 20px;
}
.imgnos2{
	vertical-align: middle;
	width: 30%;
	height:200px;
	box-shadow: 10px 5px 20px rgba(3, 3, 3, 0.7);
	border-radius: 10px;
	margin-right: 20px;
}

.imgnos22{

	width:40%;
	height: 200px;
	box-shadow: 10px 5px 20px rgba(3, 3, 3, 0.7);
	border-radius: 10px;
	float:left;
	margin-left:20px;
	margin-right: 25px;
}
.subcont2{
	display:flex;
	justify-content: center;
	align-items:center;
	margin: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
	text-align: justify;
    width: auto;
}

.containerNos{
	display: flex;
}

.pContainerNos{
	display: flex;

}
.parrcont2{
	width: 50%;
}
.parrafo3{
	font-family:sans-serif;
	font-size: 20px;
	margin: 10px;
	text-align: justify;
	line-height: 30px;
	
}

.listaObj{
	margin: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
	margin-right: 38px;
	padding: 10px;

}


li{	
	font-family:sans-serif;
	font-size: 20px;
	margin-left: 40px;
	list-style-image:url(ArProgramaFinal-main/img/pngeggpati.png);
	text-align: justify;
}

b{
	font-weight: bolder;
}
.slide{
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(3, 3, 3, 0.7);
}
